.bg-color-dark {
    background-color: #3d23bf;
    color: #A9A9A9;
}

.footer {
    background-color: #3d23bf;
    color: rgb(255, 255, 255);
}

.nav-item>a:hover, .navbar-brand:hover {
    color: #FFFFFF;
}

iframe {
    overflow:hidden;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("https://www.civista.bank/assets/img/olb-background.png");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}