.bg-color-dark {
    background-color: #3359bf;
    color: #A9A9A9;
}

.footer {
    background-color: #3359bf;
    color: rgb(255, 255, 255);
}

.nav-item>a:hover, .navbar-brand:hover {
    color: #3548ff;
}

iframe {
    overflow:hidden;
}

body, html {
    height: 100%;
}

.bg {
    /* The image used */
    background-image: url("http://www.aljanh.net/data/archive/img/1770726821.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}